language: php
php:
  - 5.6
  - 5.5
  - 5.4
  - hhvm
matrix:
  allow_failures:
    - php: hhvm
before_script:
  - "mkdir -p ~/.composer"
  - composer self-update
  - composer install
script:
  - vendor/bin/phpunit --coverage-clover=coverage.clover
after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
