<phpunit colors="true" bootstrap="vendor/autoload.php" stopOnError="true" stopOnFailure="true" stopOnSkipped="true">
    <testsuite name="pid">
        <directory>./tests/</directory>
    </testsuite>

    <logging>
        <!-- log type="coverage-html" target="tests/report/" charset="UTF-8" / -->
    </logging>
</phpunit>
